<div class="col-md-10 col-md-offset-1">
  <div class="panel-new-ocspu panel panel-default">
    <div class="panel-heading">
      新建OCSPU
    </div>
    <div class="panel-body">
      <div class="form-horizontal">
        <div class="form-group">
          <label for="" class="control-label col-sm-2">底色名称</label>
          <div class="col-sm-4">
            <input type="text" placeholder="例如棕红色, 银灰色..." class='form-control'>
          </div>
        </div>

        <div class="form-group">
          <label for="" class="control-label col-sm-2">底色RGB</label>
          <div class="col-sm-4">
            <input type="text" class="color"/>
          </div>
        </div>

        <div class="form-group">
          <label for="" class="control-label col-sm-2">材质图</label>
          <div class="col-sm-4">
            <input type="file" class='form-control'>
          </div>
          <div class="col-sm-2">
            <img src="" alt="" class="material-preview" />
          </div>
        </div>
      </div> 

      <div class="aspect" style="display: none">
      </div>
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col-md-4 col-md-offset-8">
          <button class="btn-new-aspect btn btn-primary">
            <i class="fa fa-plus"></i>
            增加面
          </button>
          <button class="btn btn-danger btn-cancel-ocspu"><span aria-hidden="true">&times;</span>取消</button>
          <button class="btn btn-primary">确认</button>
        </div>
      </div>
    </div>
  </div>
</div>
