@import "../../components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

.float-helper {
    @include opacity(0.6);
    margin: 100px 0px 0px 100px;
    position: fixed;
}

.fancybox img {
    height: 64px;
    width: 64px;
    max-width: 64px;
    max-height: 64px;
}
