<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>__package_name__</title>
    {% block head_block %}
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap-theme.min.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='fancybox/source/jquery.fancybox.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='normalize-css/normalize.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='select2/select2.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>
      <!--[if lt IE 9]>
          <script src="{{ url_for('static', filename='html5shiv/dist/html5shiv.js') }}"></script>
      <![endif]-->
      <script type="text/javascript" src="{{ url_for('static', filename='modernizr/modernizr.js') }}"></script>
    {% endblock %}
  </head>
<body>
  {% block nav_bar_block %}
  <!--put nav bar here-->
  {% endblock %}
  {% block main %}
  <!--put your main block here -->
  {% endblock %}
  {% block tail_block %}
    <script type="text/javascript" src="{{ url_for('static', filename='requirejs/require.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery/jquery-migrate.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='fancybox/source/jquery.fancybox.pack.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='holderjs/holder.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='select2/select2.min.js') }}"></script>
  {% endblock %}
</body>
</html>




