path.py
Flask
Flask-Login
Flask-Principal
Flask-SQLAlchemy
Flask-WTF
Flask-Babel
Flask-Mail>=0.9
-e git+https://github.com/PuZheng/flask-upload2.git@5c9531dc6516c425f1bbc9edb54112e5b8766883#egg=flask_upload2
-e git+https://github.com/PuZheng/Flask-DataBrowser.git#egg=Flask_DataBrowser
-e git+https://github.com/xiechao06/Flask-NavBar.git@d672c61b7a58f5717b485e0603935e3b1bfd7b90#egg=flask_navbar-master
plumbum==1.4.1
qiniu
pillow
SQLAlchemy-Utils==0.20.0
WTForms-Components==0.8.2
WTForms==1.0.5
requests>=2.3.0
pexpect
fabric
alembic==0.6.6
