<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>
      {% block page_title %}
      Yaza
      {% endblock %}
    </title>
    {% block head_block %}
      <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='components/bootswatch-scss/flatly/bootstrap.min.css') }}" />
      <!--<link rel="stylesheet" href="{{ url_for('static', filename='components/bootstrap/dist/css/bootstrap.min.css') }}" />-->
      <!--<link rel="stylesheet" href="{{ url_for('static', filename='components/bootstrap/dist/css/bootstrap-theme.min.css') }}" />-->
      <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-custom.css') }}" />-->
      <link rel="stylesheet" href="{{ url_for('static', filename='components/fancybox/source/jquery.fancybox.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='components/normalize-css/normalize.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='components/select2/select2.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='components/font-awesome/css/font-awesome.min.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>
      <!--[if lt IE 9]>
          <script src="{{ url_for('static', filename='components/html5shiv/dist/html5shiv.js') }}"></script>
      <![endif]-->
      {% if config.DEBUG %}
      <script type="text/javascript" src="{{ url_for('static', filename='components/loremjs/lorem.js') }}"></script>
      {% endif %}
      <script type="text/javascript" src="{{ url_for('static', filename='components/modernizr/modernizr.js') }}"></script>
    {% endblock %}
    {% block customized_head_block %}
    {% endblock %}
  </head>
<body>
  {% block nav_bar_block %}
  <!--put nav bar here-->
  {% endblock %}
  {% block main %}
  <!--put your main block here -->
  {% endblock %}
  {% block customized_tail_block %}
  {% endblock %}
</body>
</html>
