<!DOCTYPE HTML>
<html lang="en" class='no-js'>
  <head>
    <meta charset="UTF-8">
    <title>
      {% block page_title %}
      374路
      {% endblock %}
    </title>
    {% block head_block %}
      <script src="http://cdn.bootcss.com/modernizr/2.8.2/modernizr.min.js"></script>
      {% block check_canvas %}
      {% endblock %}
      <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.1.0/css/font-awesome.min.css" />
      {% if config.QINIU_ENABLED and not config.DEBUG %}
        <link rel="shortcut icon" href="{{"http://%s.qiniudn.com/static/favicon.ico"|format(config.QINIU_CONF.STATIC_BUCKET)}}">
        <link rel="stylesheet" href="{{ "http://%s.qiniudn.com/static/vendor/bootswatch-scss/flatly/bootstrap.css"|format(config.QINIU_CONF.STATIC_BUCKET) }}" />
      {% else %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootswatch-scss/flatly/bootstrap.min.css') }}" />
      {% endif %}
    {% endblock %}
    {% block customized_head_block %}
    {% endblock %}
  </head>
<body>
  {% block nav_bar_block %}
  <!--put nav bar here-->
  {% endblock %}
  {% block main %}
  <!--put your main block here -->
  {% endblock %}
  {% block customized_tail_block %}
  {% endblock %}
</body>
</html>
