{% extends "layout.html" %}
{% block customized_tail_block %}
  {% if config.DEBUG %}
    <script type="text/javascript" data-main="{{ url_for('static', filename='js/model/main.js', bust=time) }}" src="{{ url_for('static', filename='components/requirejs/require.js') }}"></script>
  {% else %}
    <script type="text/javascript" data-main="{{ url_for('static', filename='dist/js/model/main.js', bust=time) }}" src="{{ url_for('static', filename='components/requirejs/require.js') }}"></script>
  {% endif %}
{% endblock %}

{% block main %}
  <div class="container-fluid">
    <div class="primary">
      <div class="row">
        <div class="col-sm-9">
          <div class="playground">
            PLAYGROUND
          </div>
          <div class="info">
            DETAILS
            <img src="{{ model.pic_url }}" alt=""/>
          </div>
        </div>
        <!--/span-->

        <div class="col-sm-3">
          <div class="control-panel">
            CONTROL PANEL
          </div>
        </div>
        <!--/span-->
      </div>
      <!--/row-->
    </div>

    <hr/>
    <footer class="footer visible-md visible-lg">
      <div class="container">
        <div class="text-muted">
          copyright@Yaza
        </div>
      </div>
    </footer>
  </div><!-- /.container -->
{% endblock %}
