{% extends "layout.html" %}
{% block customized_head_block %}
  <link rel="stylesheet" href="{{ url_for('static', filename='components/blueimp-file-upload/css/jquery.fileupload.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='components/blueimp-file-upload/css/jquery.fileupload-ui.css') }}"/>
{% endblock %}

{% block customized_tail_block %}
  {% if config.DEBUG %}
    <script type="text/javascript" data-main="{{ url_for('static', filename='js/spu/main.js', bust=time) }}" src="{{ url_for('static', filename='components/requirejs/require.js') }}"></script>
  {% else %}
    <script type="text/javascript" data-main="{{ url_for('static', filename='dist/js/spu/main.js', bust=time) }}" src="{{ url_for('static', filename='components/requirejs/require.js') }}"></script>
  {% endif %}
{% endblock %}

{% block main %}
  <div class="container-fluid">
    <div class="primary">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="play-ground">
              <div class="play-ground col-sm-5">
                <div class="touch-screen">
                </div>
                <div class="dashboard">
                  <div class="panel panel-default">
                    <div class="panel-body bg-info">
                      <div class="btn-group">
                        <button class="btn btn-success add-img-btn" data-toggle='modal' data-target='.add-img-modal'>
                          <i class="fa fa-plus"></i>
                          增加图片
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade add-img-modal">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-body">
                          <ul class="nav nav-tabs">
                            <li><a data-toggle="tab" href="#builtin-pics">默认图片</a></li>
                            <li><a href="#customer-pics" data-toggle="tab">自定义图片</a></li>
                          </ul>
                          <div class="tab-content">
                            <div class="tab-pane fade" id="builtin-pics">
                              <ul class="thumbnails gallery image_picker_selector picker">
                                {% for design_image in design_image_list %}
                                  <li>
                                    <div class="thumbnail">
                                      <img class="image_picker_image" src="{{ design_image.pic_url }}" alt="{{ design_image.title }}"/>
                                    </div>
                                  </li>
                                {% endfor %}
                              </ul>
                            </div>
                            <div class="tab-pane fade" id="customer-pics">

                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <form class='upload-img-form' method="post" action="{{ url_for('image.upload') }}" enctype="multipart/form-data">
                            <span class="btn btn-success fileinput-button">
                              <i class="glyphicon glyphicon-plus"></i>
                              <span>上传新图片</span>
                              <input type="file" name="files[]">
                            </span>

                            <div class='uploading-progress'>
                              <!-- The file uploads will be shown here -->
                            </div>
                          </form>
                          <button type="button" class="btn-ok btn btn-default"  data-dismiss="modal">关闭</button>
                          <button type="button" class="btn-ok btn btn-primary"  data-dismiss="modal">确认</button>
                        </div>
                      </div>
                      <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                  </div>
                  <!-- /.modal -->
                </div>
              </div>
              <div class="jit-preview col-sm-7">
                实时预览
              </div>
            </div>
          </div>
          <div class="row">
            <div class="details">
              <div class="panel panel-primary">
                <div class="panel-heading">
                  已选择的图片
                </div>
                <div class="panel-body row" id="selected-imgs">

                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/span-->
      </div>
      <!--/row-->
    </div>

    <hr/>
    <footer class="footer visible-md visible-lg">
      <div class="container">
        <div class="text-muted">
          copyright@Yaza
        </div>
      </div>
    </footer>
  </div><!-- /.container -->
{% endblock %}
