%object-manager {
    .list-group-item img {
        height: 36px;
        display: block;
        position: absolute;
    }


    [draggable] {
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        /* Required to make elements draggable in old WebKit */
        -khtml-user-drag: element;
        -webkit-user-drag: element;
    }

    .column {
        cursor: move;
        &.over {
            border: 2px dashed #000;
        }
        &.moving {
            opacity: 0.25;
            transform: scale(0.8);
        }
        & span:not(.fa-stack){
            display: inline-block;
            height: 36px;
            position: relative;
            top:10px;
        }
    }

    .active-object {
        border: 3px solid #CC3333;
    }

    //.bg-info {
        //background-color: #d9edf7 !important;
        //}

    }
