<div>
  {% for aspect in field._value() %}
    <div style="max-width: 200px;height: 100%; " name="div-ocspu-pic-{{ aspect.id }}">
      <div class="thumbnail">
        <img src="{{ aspect.pic_url }}" alt="{{ aspect.id }}" style="display: block"/>
        <input name="aspect_id_list" type="hidden" value="{{ aspect.id }}"/>

        <div class="caption text-center">
          <button class="btn btn-primary" href="#" name="delete-ocspu-pic" data-src="{{ aspect.id }}" type="button">{{ _("remove") }}</button>
          <a class="btn btn-default" href="{{ url_for('admin.aspect', id_=aspect.id) }}">{{ _("view") }}</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>