{{#if this}}
<ul class="thumbnails gallery picker">
  {{#each this}}
      {{#each this}}
        <li>
          <div class="thumbnail">
            <img src="{{this}}" alt="{{this}}"/>
          </div>
        </li>
      {{/each}}
  {{/each}}
</ul>
{{else}}
  <div class="alert alert-info">
    您还没有上传过任何图片，请先上传！
  </div>
{{/if}}
