<ul class="thumbnails gallery image_picker_selector picker">
    {{#if this}}
        {{#each this}}
            {{#each this}}
              <li>
                <div class="thumbnail">
                  <img class="image_picker_image" src="{{this}}" alt="{{this}}"/>
                </div>
              </li>
            {{/each}}
        {{/each}}
    {{else}}
      <div class="alert alert-info">
        您还没有上传过任何图片，请先上传！
      </div>
    {{/if}}
</ul>
