<div class="row">
  <div class="col-sm-7">
    <div class="hotspot">
      <div class="design-regions">
      </div>
      <img src="" alt="" crossorigin="anonymous"/>  

      <div class='mask text-center'>
        <i class="fa fa-spinner fa-spin fa-4x" style='vertical-align: middle;color:yellow;'></i>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="ocspu-selector">
        {{#each spu.ocspuList }}
          <div class="thumbnail">
            <img src="{{this.cover}}" alt="{{this.name}}" title="{{this.color}}"/>
          </div>
        {{/each}}
    </div>
    <br/>
    <div class="panel panel-success">
        <div class="panel-heading">
            <p>
              <button class="btn btn-primary btn-save btn-lg">
                <i class="fa fa-save fa-fw"></i>提交
              </button>
            </p>
          <p>
            <button class="btn btn-default btn-download btn-lg">
              <i class="fa fa-download fa-fw"></i>下载
              <a href=""></a>
            </button>
          </p>
        </div>
    </div>
  </div>
</div>
