<div class="row">
  <div class="col-sm-7">
    <div class="hotspot">
      <div>
        <button class="btn btn-default btn-download-preview">
          <!--ie会忽略空的a标签，所以动态添加-->
          下载预览图
        </button>
        <button class="btn btn-default btn-download">下载定制结果</button>
      </div>
      <div class="design-regions">
      </div>
      <img src="" alt="" crossorigin="anonymous"/>

      <div class='mask text-center'>
        <i class="fa fa-spinner fa-spin fa-4x" style='vertical-align: middle;color:yellow;'></i>
      </div>
    </div>
  </div>
  <aside class="col-sm-5">
    <div class="row">
      <div class='col-sm-5 logo'>
        <img src="/static/assets/logo-white.png" alt="logo" />
      </div>
        {{#if orderId}}
          <div class="col-sm-7">
            <div class="alert alert-danger order">
              <p>订单号:</p>
              <p>{{orderId}}</p>
            </div>
          </div>
        {{/if}}
    </div>

    <div class="ocspu-selector">
      {{#each spu.ocspuList }}
      <div class="thumbnail">
        <img src="{{this.cover}}" alt="{{this.name}}" title="{{this.color}}"/>
      </div>
      {{/each}}
    </div>
    <br/>

    <div class="buttons">
      <button class="btn btn-primary btn-save">提交</button>
    </div>

  </aside>
</div>
