<div class="row">
  <div class="col-sm-12">
    <div class="hotspot">
      <div class="design-region-selector">
        <select name="current-design-region"></select>
      </div>
      <div class="design-regions">
      </div>
      <img src="" alt="" />
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="ocspu-selector">
      {{#each spu.ocspuList }}
      <div class="thumbnail">
        <img src="{{this.cover.picUrl}}" alt="{{this.name}}" title="{{this.color}}" />
      </div>
      {{/each}}
    </ul>
  </div>
</div>
<div class="col-sm-6">
  <div class="aspect-selector">
  </div>
</div>
