<div class="helpler-btns">
  <div class="input-group">
    <span class="input-group-btn">
      <button class="btn btn-default btn-download-preview" style='display: none'><small>下载预览</small></button>
    </span>
    <input type="text" class="form-control preview-background-color" style='display: none'>
  </div>
  <!--<button class="btn btn-info pull-left btn-download-preview" style='display: none'>-->
    <!--下载预览-->
  <!--</button>-->
  <button type='button' class="btn btn-default btn-download-design" style='display: none' data-loading-text='生成设计...'>
    <small>
      下载设计结果
    </small>
  </button>
</div>

<div class="touch-screen">
  <div class="editable-region"></div>
  <div class="change-text-panel panel panel-default" style='display: none'>
    <div class="panel-body">
      <input name="change-text" id="change-text" type="text"/>
    </div>
    <div class="panel-footer">
      <button class="btn btn-default btn-xs">取消</button>
      <button class="btn btn-primary btn-xs">确定</button>
    </div>
  </div>
</div>
{{#if orderId}}
<p>
  <small class='text-danger'>订单号: {{orderId}}</small>
</p>
{{/if}}
<div class='mask text-center'>
  <i class="fa fa-spinner fa-spin fa-4x"></i>
  <img src="http://yaza-static.qiniudn.com/static/components/blueimp-file-upload/img/loading.gif" alt="">
  <p class='message'></p>
</div>
