<div class="touch-screen" style="position: relative">
  <div class="editable-region"></div>
  <div class="change-text-panel panel panel-default" style='display: none'>
    <div class="panel-body">
      <textarea name="change-text" id="change-text" cols="24" rows="2">
      </textarea>
    </div>
    <div class="panel-footer">
      <button class="btn btn-default btn-xs">取消</button>
      <button class="btn btn-primary btn-xs">确定</button>
    </div>
  </div>
</div>
<div class='mask text-center'>
  <i class="fa fa-spinner fa-spin fa-4x"></i>
</div>
