<div class="row">
  <div class="col-sm-6">
    <button class="btn btn-primary btn-sm btn-change-text">
      修改文字
    </button>
  </div>
  <div class="col-sm-6">
    <input type="" class="text-color bg-primary"/>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <select class="font-size bg-primary"></select>
  </div>
  <div class="col-sm-6">
    <select class="font-family bg-primary"></select>
  </div>
</div>
