{% extends "data_browser__/layout.html" %}
{% block __data_browser__head_block %}
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.1.0/css/font-awesome.min.css" />
  {% if config.QINIU_ENABLED and not config.DEBUG %}
    <link rel="stylesheet" href="http://yaza.qiniudn.com/css/vendor/bootswatch-scss/flatly/bootstrap.min.css" />
    <link rel="stylesheet" href="http://yaza.qiniudn.com/css/admin.css"/>
    <link rel="stylesheet" href="http://yaza.qiniudn.com/css/admin/spu.css"/>
  {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/bootswatch-scss/flatly/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/spu.css') }}"/>
  {% endif %}
{% endblock %}

{% block __data_browser__tail_block %}
  {% if config.QINIU_ENABLED and not config.DEBUG %}
    <script type="text/javascript" data-main="http://yaza.qiniudn.com/js/admin/spu/main.js" src="http://cdn.bootcss.com/require.js/2.1.14/require.js"></script>
  {% else %}
    <script type="text/javascript" data-main="{{ url_for('static', filename='js/admin/spu/main.js', bust=time) }}" src="http://cdn.bootcss.com/require.js/2.1.14/require.js"></script>
  {% endif %}
{% endblock %}

{% block body %}
<div class="container">
  <button class="btn btn-info pull-left float-helper" data-toggle='modal' data-target=".help-modal">
    <i class="fa fa-question-circle fa-2x"></i>
  </button>
  <div class="primary">
    <div class="spu"></div>
  </div>
  <div class="mask text-center">
    <div>
      <i class="fa fa-spinner fa-4x fa-spin"></i>
      <p class='text-info'></p>
    </div>
    <div>
    </div>
  </div>
</div>

<div class="help-modal modal fade" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title">SPU创建器说明</h3>
      </div>
      <div class="modal-body">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                  <h4>概述</h4>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
              <div class="panel-body">
                <p>SPU包含的对象级别是:</p>
                <blockquote>
                  <p>
                  SPU -&gt; OCSPU -&gt; 面 -&gt; 设计区
                  </p>
                </blockquote>
                <dl class="dl-horizontal">
                  <dt>SPU</dt>
                  <dd>款式，例如“韩版潮男士V领短袖T恤修身立领时尚T恤T059”</dd>
                  <dt>OCSPU</dt>
                  <dd>某色彩/材质</dd>
                  <dt>面</dt>
                  <dd>正面/反面</dd>
                  <dt>设计区</dt>
                  <dd>某个面上面的设计区</dd>
                </dl>
                <p>本工具逐层帮助创建/修改各个级别的对象。</p>
                <p>每一级对象都有两种呈现形式: 展开/收缩状态</p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                  <h4>创建对象</h4>
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse">
              <div class="panel-body">
                略
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                  <h4>删除对象</h4>
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse">
              <div class="panel-body">
                <p>
                在收缩状态下， 点击图标
                "<i class="fa fa-trash-o"></i>", 确认后删除对象
                </p>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                  <h4>修改对象</h4>
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse">
              <div class="panel-body">
                <ul>
                  <li>
                  对于输入框， 修改后， 直接敲击回车就可以修改此字段。
                  </li>
                  <li>
                  对于色彩， 选择一个新的颜色， 就可以修改此字段。
                  </li>
                  <li>
                  对于文件， 选择一个新的文件， 就可以修改此字段。
                  </li>
                </ul>
                <p>
                特别是定制区， 需要手动指定四个顶点，每次选择新图片的时候，都需要重新指定四个顶点。如下图所示：
                </p>
                <div class="row">
                  <div class="col-md-10">
                    <div class="thumbnail">
                      <img src="/static/assets/screenshots/vertex-select.png" alt="" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
