{% extends "data_browser__/layout.html" %}
{% block __data_browser__head_block %}
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/4.1.0/css/font-awesome.min.css" />
  {% if config.QINIU_ENABLED and not config.DEBUG %}
    <link rel="stylesheet" href="http://yaza.qiniudn.com/js/vendor/bootswatch-scss/flatly/bootstrap.min.css" />
    <link rel="stylesheet" href="http://yaza.qiniudn.com/css/admin.css"/>
    <link rel="stylesheet" href="http://yaza.qiniudn.com/css/admin/spu.css"/>
  {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='js/vendor/bootswatch-scss/flatly/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin/spu.css') }}"/>
  {% endif %}
{% endblock %}

{% block __data_browser__tail_block %}
  {% if config.QINIU_ENABLED and not config.DEBUG %}
    <script type="text/javascript" data-main="http://yaza.qiniudn.com/js/admin/spu/main.js" src="http://cdn.bootcss.com/require.js/2.1.14/require.js"></script>
  {% else %}
    <script type="text/javascript" data-main="{{ url_for('static', filename='js/admin/spu/main.js', bust=time) }}" src="http://cdn.bootcss.com/require.js/2.1.14/require.js"></script>
  {% endif %}
{% endblock %}

{% block body %}
<div class="container">
  <div class="primary">
    <div class="spu"></div>
  </div>
</div>
{% endblock %}
