{% extends "layout.html" %}

{% block customized_head_block %}
  {% if config.QINIU_ENABLED and not config.DEBUG %}
    <link rel="stylesheet" href="http://yaza.qiniudn.com/css/login.css"/>
  {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"/>
  {% endif %}
{% endblock %}

{% block page_title %}
  Yaza - login
{% endblock %}

{% block main %}
  <div class="container">

    <form action="{{ url_for("user.login") }}" role="form" class="alert alert-info form-horizontal form-signin" method="POST">

      <div>
        <h4>{{ _("please login: ") }}</h4>
      </div>
      <hr/>
      {% if error %}
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ error }}
        </div>
      {% endif %}
      {{ form.csrf_token }}

      <div class="form-group">
        <label class="sr-only">{{ _("login") }}</label>
        <div class="input-group col-lg-12">
          <span class="input-group-addon">
            <i class="fa fa-user fa-fw"></i>
          </span>
          <input type="text" name="username" id="username" required="required" placeholder="{{ _('username') }}" class="form-control"/>
        </div>

      </div>
      <div class="form-group">
        <label class="sr-only">{{ _('password') }}</label>
        <div class="input-group col-lg-12">
          <span class="input-group-addon">
            <i class="fa fa-fw fa-keyboard-o"></i>
          </span>
          <input type="password" name="password" id="password" required="required" placeholder="{{ _('password') }}" class="form-control"/>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <div class="col-lg-12">
          <button class="btn btn-block btn-lg btn-success">
            <i class="fa fa-sign-in fa-fw fa-lg"></i>{{ _('login') }}
          </button>
        </div>
      </div>
      {% if next_url %}
        <input type="hidden" name="next_url" value="{{ next_url }}">
      {% endif %}
    </form>
  </div>
{% endblock %}
