{% extends "layout.html" %}

{% block customized_head_block %}
  {% if config.QINIU_ENABLED and not config.DEBUG %}
    <link rel="stylesheet" href="http://yaza.qiniudn.com/css/custom.css"/>
  {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}"/>
  {% endif %}
{% endblock %}

{% block customized_tail_block %}
  {% if config.QINIU_ENABLED and not config.DEBUG %}
    <script type="text/javascript" data-main="http://yaza.qiniudn.com/spu/main.js" src="{{ url_for('static', filename='components/requirejs/require.js') }}"></script>
  {% else %}
    <script type="text/javascript" data-main="{{ url_for('static', filename='js/spu/main.js', bust=time) }}" src="{{ url_for('static', filename='components/requirejs/require.js') }}"></script>
  {% endif %}
{% endblock %}

{% block main %}
<div class="container-fluid">
  <div class="primary">

    <div class="jit-preview">
      <div class="svg-drawing" {% if request.args['debug'] != '1' %}style="display: none"{% endif %}> </div>
    </div>

    <div class="play-ground">
      <div class="svg-drawing" {% if request.args['debug'] != '1' %}style="display: none"{% endif %}>
      </div>
    </div>

    <input name="spu" type="hidden" data-val='{{ spu.as_dict()|tojson|safe }}'/>
    <input name="design-image-list" type="hidden" data-val='{{ design_image_list|safe }}'/>
    <input name="order-id" type="hidden" data-val='{{ order_id }}'/>
  </div>
  <!--/span-->
</div>
<!--/row-->
<footer class="footer visible-md visible-lg">
<div class="container">
  <div class="text-muted">
    copyright@Yaza
  </div>
</div>
</footer>
  <!-- /.container -->
{% endblock %}
