<div class="col-md-10 col-md-offset-1">
  <div class="panel-aspect panel panel-default">
    <div class="panel-heading">
      <a class="btn-collapse btn btn-xs pull-right" style="display: none">
        <i class="fa fa-chevron-up"></i>
      </a>
      <span class="text-muted">
        新建OCSPU
      </span>
      <em></em>
    </div>
    <div class="panel-body">
      <form class="form-horizontal aspect-form">
        <div class="form-group">
          <label for="" class="control-label col-sm-2">面名称</label>
          <div class="col-sm-4">
            <input type="text" placeholder="正面或者反面等..." class='form-control'>
          </div>
          <label class="control-label text-danger" style='display: none'>* 面名称不能为空</label>
        </div>
        <div class="form-group">
          <label for="" class="control-label col-sm-2">面图片</label>
          <div class="col-sm-2">
            <span class="btn btn-success fileinput-button">
                <i class="fa fa-plus"></i>
                <span>选择文件</span>
                <input type="file" name="file">
            </span>
          </div>
          <a class="fancybox" rel="group">
            <div class="col-md-2">
              <div class="thumbnail">
                <img alt="" />
              </div>
            </div>
          </a>
          <label class="control-label text-danger" style='display: none'>* 面图片不能为空</label>
        </div>
        <div class="uploading-progress row" style='display: none'>
          <div class="col-md-11">
            <div class="progress progress-striped active">
              <div class="progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                0%
              </div>
            </div>
          </div>
          <div class="col-md-1">
            <button class="upload-cancel-btn btn btn-danger btn-xs">取消</button>
          </div>
        </div>
      </form>
    </div>

    <div class="panel-footer">
      <div class="row">
        <div class="pull-right">
          <button class="btn-new-design-region btn btn-primary" data-toggle='modal' data-target='.modal-new-design-region' style='display: none'>
            <i class="fa fa-plus"></i>
            增加定制区
          </button>
          <button class="btn btn-danger btn-cancel"><span aria-hidden="true">&times;</span>取消</button>
          <button class="btn btn-primary btn-ok">确认</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-new-design-region modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-horizontal">
          <div class="form-group">
            <label for="" class="control-label col-md-3">定制区名称</label>
            <div class="col-md-6">
              <input type="" class="form-control" placeholder='例如前胸...'/>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="control-label col-md-3">尺寸<small class='text-danger'>(英寸)</small></label>
            <div class="col-md-2">
              <input type="number" class="form-control" placeholder='宽'/>   
            </div>
            <div class="col-md-1">
              <div class='control-label'>X</div>
            </div>
            <div class="col-md-2">
              <input type="number" class="form-control" placeholder='高'/>
            </div>
          </div>
          <div class="form-group">
            <label for="" class="control-label col-md-3">图片</label>
            <div class="col-md-6">
              <input type="file" class="form-control" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">确认</button>
      </div>
    </div>
  </div>
</div>
