<div class="modal fade desigin-region-vertex-selector">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">请指定定制区的四个顶点</h4>
      </div>
      <div class="modal-body">
        <div class="zone">
          <img src="" alt="" class='design-region-image'/> 
          <div class="canvas"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">确认</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
