{
    "upload-files": {
        "base": "static/dist",
        "include": {
            "files": ["js/infrastructure.js", "spu/main.js"],
            "dirs": ["css"]
        },
        "exclude": {
            "files": [],
            "dirs": ["css/vendor"]
        }
    },
    "hosts": ["121.40.78.129"],
    "password": "fee0fe3D",
    "sudoer": "xiechao",
    "user": "yaza"
    "remote-config": "remote-config.py"
    "branch": "yaza-290",
    "github-user": "xiechao06",
    "github-password": "HangZhou@82"
}
