<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>__foo__</title>
    {% block head_block %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename="js/fancybox/source/jquery.fancybox.css") }}" type="text/css" media="screen">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/custom.css") }}"/>
    {% endblock %}
  </head>
<body>
  {% block nav_bar_block %}
  <!--put nav bar here-->
  {% endblock %}
  {% block main %}
  <!--put your main block here -->
  hello world!
  {% endblock %}
  {% block footer_block %}
  <footer class="footer visible-md visible-lg">
  <div class="container">
    <div class="text-muted">
      copyright@__foo__
    </div>
  </div>
  </footer>
  {% endblock %}
  {% block tail_block %}
    <script type="text/javascript" src="{{ url_for('static', filename='require/require.js) }}"></script>
  {% endblock %}
</body>
</html>




