@media screen and (min-width: 992px) {
    body {
        /* for nav bar */
        padding-top: 60px !important;
    }

    .form-signin {
        margin: 10px auto;
        width: 30em;
    }

    .play-ground .dashboard .upload-img-btn {
        height: 160px;
        width: 120px;
    }

    .play-ground .upload-img-form {
        display: inline-block;
        width: 80%;
        text-align: left;
    }

    .play-ground .add-img-modal .modal-footer {
        text-align: center !important;
    }

    .play-ground .upload-img-form .uploading-progress {
        display: inline-block;
        width: 80%;
    }

    .play-ground .upload-img-form .uploading-progress .progress {
        display: inline-block;
        width: 70%;
        vertical-align: middle;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
        margin-right: 10px;
    }

    .play-ground .upload-img-form .uploading-progress .upload-cancel-btn {
        margin-left: 10px;
    }

    .image_picker_image {
        margin: 0 auto;
        max-height: 176px !important;
        max-width: 176px !important;
    }

    .picker {
        margin: 10px;
    }

    .play-ground .touch-screen {
        border: 1px solid #ccc;
        height: 512px;
        max-height: 512px;
        background-color: #ccc;
    }

    .play-ground .touch-screen .editable-region.landscape {
        width: 100%;
        height: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .play-ground .touch-screen .editable-region.portrait {
        height: 100%;
        width: auto;
        background-color: #fff;
        margin-left: auto;
        margin-right: auto;
    }
    
    .play-ground .touch-screen button.btn-save {
       position: absolute !important;
       right: 0px;
    } 

    .play-ground .svg-drawing svg {
        border: 1px dashed #ccc;
    }

    .jit-preview .aspect-selector {
        border: 1px dashed #ccc;
    }

    .jit-preview .hotspot {
        height: 512px;
        background-color: #ccc;
    }
    
    .jit-preview .hotspot img {
        max-height: 100%;
        max-width: 100%;
        background-color: #fff;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .jit-preview .hotspot div.design-region-selector {
        position: absolute !important;
    }

    .jit-preview .hotspot .design-regions {
        position: absolute !important;
        max-height: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    .jit-preview .ocspu-selector {
        border: 1px solid #ccc;
    }

    .jit-preview .thumbnail {
        margin: 3px 3px 3px 0px;
        display: inline-block;
        height: 96px;
        width: 96px;
    }

    .jit-preview .thumbnail:first-child {
        margin-left: 3px;
    }

    .jit-preview .thumbnail img {
        max-height: 96px;
        max-height: 96px;
    }

    .thumbnail.selected {
        border: 2px solid #0088CC;
    }

    ul.thumbnails.image_picker_selector {
        list-style: none outside none;
        margin: 10px 0 0;
        overflow: auto;
        padding: 0;
    }

    ul.thumbnails.image_picker_selector ul {
        list-style: none outside none;
        margin: 0;
        overflow: auto;
        padding: 0;
    }

    ul.thumbnails.image_picker_selector li.group_title {
        float: none;
    }

    ul.thumbnails.image_picker_selector li {
        float: left;
        margin: 0 12px 12px 0;
    }

    ul.thumbnails.image_picker_selector li .thumbnail {
        -moz-user-select: none;
        border: 2px solid #DDDDDD;
        padding: 6px;
        display: table-cell;
        vertical-align: middle;
        height: 190px;
        width: 190px;
    }

    ul.thumbnails.image_picker_selector li .thumbnail.selected {
        border: 2px solid #0088CC;
    }


}
