@media screen and (min-width: 979px) {
    body {
        /* for nav bar */
        padding-top: 60px !important;
    }

    .form-signin {
        margin: 10px auto;
        width: 30em;
    }

    .play-ground .dashboard .upload-img-btn {
        height: 160px;
        width: 120px;
    }

}
