@media screen and (min-width: 992px) {

    .jit-preview {
        margin: 15px 15px 15px 15px;
    }

    .jit-preview .aspect-selector {
        border: 1px dashed #ccc;
    }

    .jit-preview .hotspot {
        height: 400px;
        background-color: #eee;
        border-radius: 5px;
    }

    .jit-preview .hotspot img {
        max-height: 100%;
        max-width: 100%;
        background-color: #fff;
        margin: auto;
        display: block;
    }

    .jit-preview aside {
        padding-top: 15px; 
        padding-right: 20px;
    }


    .jit-preview aside .logo img {
        max-width: 100%;
    }

    .jit-preview aside .order {
        padding: 5px;
        border-radius: 5px;
    }


    .jit-preview aside .order p {
        text-align: center;
        color: white;
        font-size: 1.5em;
    }

    .jit-preview .hotspot div.design-region-selector {
        position: absolute !important;
    }

    .jit-preview .hotspot .design-regions {
        position: absolute !important;
        max-height: 100%;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }


    .jit-preview .hotspot > div:first-child {
        position: absolute;
    }

    .jit-preview .hotspot > div:first-child button {
        display: block;
    }

    .jit-preview .ocspu-selector {
        border: 1px dashed gray;
        margin-top: 10px;
        height: 200px;
        border-radius: 3px;
    }

    .jit-preview .thumbnail {
        margin: 3px 3px 3px 0;
        display: inline-block;
    }

    .jit-preview .ocspu-selector .thumbnail {
        height: 64px;
        width: 64px;
    }

    .jit-preview .thumbnail:first-child {
        margin-left: 3px;
    }

    .jit-preview .thumbnail img {
        max-width: 100%;
        max-height: 100%;
    }

    .jit-preview .ocspu-selector .thumbnail img {
        min-width: 100%;
        min-height: 100%;
    }

    .jit-preview .buttons {
        width: 70%;
        margin: 10px auto auto;
    }

    .jit-preview .buttons button {
        width: 100%;
    }

}
