.list-group-item img {
    max-height: 36px;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

.column {
    cursor: move;
}

.column.over {
    border: 2px dashed #000;
}

.tail-placeholder {
    height: 30px;
}

.tail-placeholder.over {
    border: 2px dashed #777;
}

.column.moving {
    opacity: 0.25;
    transform: scale(0.8);
}

.active-object {
    border: 3px solid #CC3333;
}
