{% extends "data_browser__/base_layout.html" %}
{% block __data_browser__customized_head_block %}
  {% if config.QINIU_ENABLED and not config.DEBUG %}
    <link href="http://cdn.bootcss.com/fancybox/2.1.5/jquery.fancybox.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/select2/3.5.0/select2.min.css" rel="stylesheet">
  {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}"/>
  {% endif %}
{% endblock %}

{% block __data_browser__nav_bar_block %}
  <header>
    {% import "data_browser__/navbar.html" as navbar %}
    {{ navbar.render_nav_bar(current_user, nav_bar, titlename) }}
  </header>
{% endblock %}

{% block __data_browser__footer_block %}
  <footer class="footer visible-md visible-lg">
    <div class="container">
      <div class="text-muted">
        copyright@ 374路
      </div>
    </div>
  </footer>
{% endblock %}

{% block __data_browser__title_block %}
  {{ title }}
{% endblock %}
